/* 
# ---------------------------------------
# CYBRsway    swaync theme (part of cybrland)
# Project:    https://github.com/scherrer-txt/cybrland
# Author:     scherrer-txt   |   License:     GPL-3.0
# Source:     ~/.config/swaync/style.css
# ---------------------------------------
*/

/* === VARIABLES === */
/* VALUES */
:root {
	--radius: 0px;
	--gap: 8px;
	--gap2: calc(var(--gap)*2);
	--border-size: 1px;
}

/* Colors */
@define-color no0 #030408;

@define-color re0 #F24848;
@define-color re1 #631F21;
@define-color re2 #331215;

@define-color gr0 #1DED83;
@define-color gr2 #0C3423;
@define-color gr0tr #1DED8340;

@define-color ye0 #FB932E;
@define-color ye2 #332D10;

@define-color bl0 #3061F2;
@define-color bl2 #0C1737;

@define-color cy0 #5EF6FF;
@define-color cy2 #0B292F;

@define-color wh0 #898D99;

@define-color tr0 rgba(3, 4, 8, 0.05);


/* === GLOBAL === */
* {
	all: unset;
	font-size: 12px;
	font-family: "GeistMono Nerd Font";
	transition: 0;
}

/* === DND ===  */
.widget-dnd label,
.widget-label>label {
	color: @re0;
}

.widget-dnd switch {
	margin: var(--gap);
	border-radius: var(--radius);
	min-width: 35px;
	min-height: 15px;
	background: @re2;
	color: #1DED83FF;
}

.widget-dnd switch slider {
	min-width: 13px;
	min-height: 13px;
	margin: 2px;
	background: @re0;
}

.widget-dnd switch:checked {
	background: @gr0;
}

.widget-dnd switch:checked slider {
	background: @gr2;
}

/* === MEDIA WIDGET === */
.widget-mpris {
	color: @cy0;
	background-color: @tr0;
	border: 1px solid @re0;
	margin-top: var(--gap2);
}

.widget-mpris-title {
	font-weight: normal;
	font-size: 14px;
}

.widget-mpris-subtitle {
	font-size: 12px;
}

.widget-mpris .widget-mpris-player .mpris-background {
	filter: blur(7px) grayscale(1) brightness(0.3);
	opacity: 0.3;
}

.widget-mpris .widget-mpris-player .mpris-overlay {
	padding: 40px;
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-album-art {
	border-radius: var(--radius);
	-gtk-icon-size: 100px;
}

.widget.widget-mpris>carouselindicatordots {
	--dots-padding: var(--gap);
	padding: var(--gap);
	margin: 0;
	color: @re0;
}

.widget-mpris-player button {
	margin: var(--gap);
	-gtk-icon-size: 20px;
}

/* ----------------- */

/*  === CONTROL CENTER === */
/* Main panel */
.control-center {
	margin: var(--gap);
	padding: var(--gap2);
	background-color: @tr0;
	border: 1px solid @re0;
	color: @re0;
}

/* Titlebar */
.control-center .widget-title {
	color: @re0;
}

/* Gap between notifications */
.control-center .notification-row .notification-background {
	margin-top: var(--gap2);
}

.control-center .notification-row .notification-background {
	background-color: @no0;
}

/* Clear all button */
.control-center .widget-title button {
	padding: var(--gap);
	border-radius: var(--radius);
	color: @cy0;
	background-color: @cy2;
}

.control-center .widget-title button:hover {
	background-color: @bl2;
	color: @bl0;
}

/* Spacing */
.control-center .notification-row .notification-background .notification .notification-content {
	margin: var(--gap2);
}

/* === FLOATING NOTIFICATIONS === */

/* Basic */
.floating-notifications.background .notification-row .notification-background {
	margin: var(--gap);
	border-radius: var(--radius);
	background-color: @tr0;
	color: @re0;
}

.floating-notifications.background .notification-row .notification-background .notification {
	padding: var(--gap2);
}

/* Images */
.image {
	margin: var(--gap);
	margin-right: var(--gap2);
	border-radius: var(--radius);
	/* background-color: @no0; */
	-gtk-icon-size: 30px;
}

/* Normal */

.notification-row .notification-background .notification.normal .notification-content .summary {
	color: @re0;
	font-weight: bold;
	text-transform: uppercase;
}

.notification-row .notification-background .notification.normal .notification-content .time {
	color: @wh0;
}

.floating-notifications.background .notification-row .notification-background .notification.normal {
	background-color: @tr0;
}

.notification-row .notification-background .notification.normal .notification-content .body {
	color: @re0;
}

.notification.normal {
	border: 1px solid @re0;
}

/* Low */

.notification-row .notification-background .notification.low .notification-content .summary {
	color: @gr0;
	font-size: 14px;
}

.notification-row .notification-background .notification.low .notification-content .time {
	color: @gr0;
}

.floating-notifications.background .notification-row .notification-background .notification.low {
	background-color: @gr0tr;
}

.notification-row .notification-background .notification.low .notification-content .body {
	color: @gr0;
}

.notification.low {
	border: 1px solid @gr0;
}

/* Critical */

.notification-row .notification-background .notification.critical .notification-content .summary {
	color: @no0;
	font-size: 14px;
}

.notification-row .notification-background .notification.critical .notification-content .time {
	color: @no0;
}

.notification-row .notification-background .notification.critical {
	background-color: @re0;
}

.notification-row .notification-background .notification.critical .notification-content .body {
	color: @no0;
}

.notification.critical {
	border: 1px solid @re0;
}

/*  === BUTTONS === */

/* Basic */

button {
	margin: var(--gap);
	padding: 2px;
	border-radius: var(--radius);
	background-color: @cy2;
	color: @cy0;
	border: none;
}

button:hover {
	background-color: @bl2;
	color: @bl0;
}

button:active {
	background-color: @re2;
	color: @no0;
}

/* Actions */
.notification-row .notification-background .notification>*:last-child>* .notification-action {
	margin: var(--gap);
	border-radius: var(--radius);
	background-color: @no0;
	color: @re0;
}

.notification-row .notification-background .notification>*:last-child>* .notification-action:active {
	box-shadow: inset 0 0 0 1px @gr1;
}

/* Close button */
.close-button {
	background-color: @cy2;
	color: @cy0;
}

.close-button:hover {
	background-color: @bl2;
	color: @bl0;
}