/* 
# ---------------------------------------
# CYBRbar     waybar theme (part of cybrland)
# Project:    https://github.com/scherrer-txt/cybrland
# Author:     scherrer-txt   |   License:     GPL-3.0
# Source:     ~/.config/waybar/style.css
# ---------------------------------------
*/

/* === VARIABLES === */

@define-color no0 #030408;
@define-color no1 #05070D;
@define-color no2 #0A0E1A;

@define-color re0 #F24848;
@define-color re1 #631F21;
@define-color re2 #331215;

@define-color gr0 #30F291;
@define-color gr1 #15633F;
@define-color gr2 #0C3423;

@define-color ye0 #F2D230;
@define-color ye1 #635618;
@define-color ye2 #332D10;

@define-color bl0 #3061F2;
@define-color bl1 #152966;
@define-color bl2 #0C1737;

@define-color vi0 #965fd4;
@define-color vi1 #A130F2;
@define-color vi2 #230D37;

@define-color cy0 #29BECC;
@define-color cy1 #124E56;
@define-color cy2 #0B292F;

@define-color wh0 #898D99;
@define-color wh1 #393B42;
@define-color wh2 #1E2025;

@define-color me0 #4D5A80;
@define-color me1 #212638;
@define-color me2 #0D1120;

@define-color or0 #F26118;
@define-color or1 #63290E;
@define-color or2 #33170B;

@define-color pi0 #F230B2;
@define-color pi1 #63164C;
@define-color pi2 #330D2A;


/* === GLOBAL === */

* {
	font-family: GeistMono Nerd Font;
	font-size: 15px;
	letter-spacing: -0.05em;
	font-weight: 400;
	min-height: 0;
}

window#waybar {
	background: transparent;
	opacity: 1;
}

window#waybar.hidden {
	opacity: 0;
}


/* === MODULE DEFAULTS === */

#custom-updates,
#custom-music,
#custom-arch,
#custom-dice,
#workspaces,
#window {
	background-color: transparent;
	border: none;
	border-radius: 0;
	padding: 0 16px;
	color: @vi0;
}


/* === BUTTON SIZE === */

#tray,
#custom-brightness,
#language,
#bluetooth,
#custom-gpu-usage,
#custom-wf-recorder,
#custom-updates,
#custom-notifications,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#temperature.cpu,
#temperature.gpu,
#battery,
#backlight {
	padding: 0 16px;
	min-width: 15px;
}


/* === POWERLINE ARROWS === */

#custom-arrow-left-no1 {
	background-image: url('svg/no1-left.svg');
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
}

#custom-arrow-right-no1 {
	background-image: url('svg/no1-right.svg');
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}

#custom-arrow-left-re0 {
	background-image: url('svg/re0-left.svg');
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: @no1;
}

#custom-arrow-right-re0 {
	background-image: url('svg/re0-right.svg');
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: @no1;
}

#custom-arrow-left-vi0 {
	background-image: url('svg/vi0-left.svg');
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: @no1;
}

#custom-arrow-right-vi0 {
	background-image: url('svg/vi0-right.svg');
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: @no1;
}

#custom-arrow-left-gr0 {
	background-image: url('svg/gr0-left.svg');
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
}

#custom-arrow-right-gr0 {
	background-image: url('svg/gr0-right.svg');
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}


/* === ARCH LOGO === */

#custom-arch {
	color: @no0;
	background-color: @vi0;
	font-weight: bold;
}

#custom-arch:hover {
	color: @no0;
	background-color: @gr0;
}

#custom-dice {
	color: @gr0;
	background-color: @vi0;
	font-size: 24px;
	font-weight: bold;
}

#custom-dice:hover {
	color: @vi0;
	font-size: 24px;
	background-color: @gr0;
}



/* === WORKSPACES === */

#workspaces {
	background-color: @no1;
	border-bottom: 2px solid @gr0;
}

#workspaces button {
	border-radius: 0;
	margin: 0;
	font-weight: bolder;
	min-width: 15px;
	color: @vi1;
	background: transparent;
}

#workspaces button label {
	font-size: 15px;
	margin: -10px 0px;
	padding: 0 4px;
	color: @vi0;
}

#workspaces button.active label {
	color: @gr0;
}

#workspaces button:hover {
	background-color: @re2;
}

#workspaces button:hover label {
	color: @re0;
}

#workspaces button.active:hover {
	background-color: @gr2;
}

#workspaces button.active label {
	color: @gr0;
}

#workspaces button.urgent {
	background-color: @ye0;
}

#workspaces button.urgent label {
	color: @ye2;
}


/* === CLOCKS === */

#clock.time,
#clock.date {
	color: @vi1;
	background-color: @no1;
	padding: 0 32px;
	border-bottom: 2px solid @gr0;
}

#clock.time:hover,
#clock.date:hover {
	color: @re0;
	background-color: @re2;
}


/* === SYSTEM METRICS === */

#cpu,
#memory,
#temperature,
#temperature.cpu,
#temperature.gpu {
	color: @vi0;
	background-color: @no1;
	border-bottom: 3px solid @gr0;
}

#temperature.critical {
	color: @no0;
	background-color: @ye0;
}

#cpu:hover,
#memory:hover,
#temperature:hover,
#temperature.cpu:hover,
#temperature.gpu:hover,
#temperature.critical:hover {
	color: @re0;
	background-color: @re2;
}

#battery {
    color: @vi1;             /* Text/Icon color */
    background-color: @no0;     /* Matches your other modules */
}

/* Optional: Make it yellow/orange when at "warning" level */
#battery.warning {
	color: @ye0; 
    background-color: @no0; /* Or whatever your yellow variable is */
}

/* Optional: Make it blink or bright red when "critical" */
#battery.critical {
    color: @re0;
   	background-color: @or0;
}

/* === NETWORK & AUDIO === */

#network {
	background-color: @no1;
	color: @vi1;
}

#network.disconnected {
	color: @wh0;
	background-color: @or1;
}

#network.linked {
	color: @gr0;
	background-color: @no1;
}

#pulseaudio {
	color: @vi1;
	background-color: @no1;
}

#pulseaudio.muted {
	color: @vi0;
}

#network:hover,
#pulseaudio:hover {
	color: @gr0;
	background-color: @vi2;
}

#pulseaudio.muted:hover {
	color: @gr1;
	background-color: @vi2;
}


/* === MUSIC === */

#custom-music {
	background-color: @gr0;
	color: @no0;
	padding: 0 32px;
	border: none;
}


/* === NOTIFICATIONS === */

#custom-notifications {
	background-color: @no1;
	color: @vi1;
	font-size: 20px;
}

#custom-notifications:hover {
	color: @re0;
	background-color: @re1;
}

#custom-notifications.dnd-none {
	color: @re1;
}

#custom-notifications.dnd-none:hover {
	color: @re1;
	background-color: @re2;
}

/* === UPDATES === */

#custom-updates {
	color: @wh0;
	font-size: 20px;
	margin: 0 20px;
}

#custom-updates:hover {
	background-color: @gr1;
}


/* === MISC === */

#custom-wf-recorder {
	color: @re0;
	background-color: @no1;
}

#bluetooth {
	color: @vi0;
	background-color: @no1;
}

#language {
	color: @vi0;
	background-color: @no1;
}

#custom-brightness {
	background-color: @no1;
}

#custom-brightness:hover {
	background-color: @re1;
}

#custom-brightness.max {
	color: @re0;
}

#custom-brightness.high {
	color: @ye0;
}

#custom-brightness.mid {
	color: @wh0;
}

#custom-brightness.low {
	color: @cy0;
}

#custom-brightness.min {
	color: @re0;
}

#tray {
	color: @vi0;
	background-color: @no1;
}

#custom-wf-recorder:hover,
#bluetooth:hover,
#language:hover {
	color: @re0;
	background-color: @re2;
}

/* === WINDOW === */

#window {
	color: @gr0;
	background-color: @vi0;
	min-width: 5px;
	padding: 0 32px;
	border-bottom: 5px solid @or0
}
/* --- Common Bottom Border for Modules --- */
#battery, 
#network, 
#pulseaudio, 
#custom-music, 
#custom-notifications, 
#custom-updates, 
#custom-wf-recorder, 
#bluetooth, 
#language, 
#custom-brightness, 
#tray {
    border-bottom: 3px solid @gr0;
}
